


@keyframes pulse-animation {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    }
  }

app-registration {

    .container {

        &.box-block {
            padding: 20px 15px 40px 15px;
        }
    }

    .button-save{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;

        button{
            padding: 0 40px;
        }
    }

    .content-step-1 {
        margin: 20px auto;
        padding: $grid-padding-width;
        box-shadow: 0px 1px 2px rgba(53,53,53,0.3);
        width: 100%;
        background: #fff;

        h3{
            margin-top:0;
            margin-bottom: 60px;
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;

            span {
                font-size: 14px;
            }
        }

        .noUi-connect {
            background: rgba(91, 115, 232, 0.85);
        }

        .noUi-handle {

            &:focus {
                outline: -webkit-focus-ring-color auto 0px;
            }
        }

        .noUi-tooltip {
            background: rgba(91, 115, 232, 0.85);
            border: 1px solid rgba(111, 132, 236, 0.85);
            color: #fff;
            padding: 5px 10px;
        }

        .box-content{
            display: flex;
            align-items: center;
            margin-top:60px;

            .data-value {
                display: flex;
                align-items: center;
                font-weight: 600;

                span.misure {
                    margin-left: 5px;
                }

                .time-text {
                    margin-right: 10px;
                    font-weight: 400;
                }
            }

            .alert-detection {
                position: relative;
                display: flex;
                width: 100%;
                justify-content: flex-end;
                
                .circle-indicator{
                    width: 14px;
                    height: 14px;
                    border: 0px solid rgba(0,0,0,0.3);
                    border-radius: 100%;
                    margin-right:10px;
                    margin-top: 3px;
                    background-color: rgb(243, 189, 53);
                    transform: scale(1);
                    transform-origin: center center;
                    animation: pulse-animation 3s linear infinite;
                }
            }
        }

        &.full-name {

            .example-form {
                min-width: 150px;
                max-width: 100%;
                width: 100%;
              }
              
              .example-full-width {
                width: 100%;
              }
        }

        &.detection-time {

            .noUi-connect {
                background: #3FB8AF;
            }
    
            .noUi-tooltip {
                background: #3FB8AF;
                border: 1px solid #4fc0b8;
                color: #fff;
                padding: 5px 10px;
            }
        }

        &.box-mode {

            .mat-radio-button ~ .mat-radio-button {
                margin-left: 16px;
              }
            
            h3{
                margin-bottom: 20px;
            }
        }

        &.answer-box {

            h3{
                margin-bottom: 20px;
            }

            p{
                padding: 10px 0;

                span{
                    font-weight: 600;
                    margin-left: 10px;

                    &.misure {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(md) {

        .content-step-1 { 
            padding: 40px $grid-padding-width-large;
        }
    }

    @include media-breakpoint-up(lg) { 

        .content-step-1 { 
            width: 80%;
        }

        .button-save{
            width: 80%;
        }
    }

}