

<div class="container box-block">
	<div class="row">
		<div class="col-md-12">
			<ng-container *ngIf="compileData; else showData">
				<div class="content-step-1 full-name">
					<form class="example-form" autocomplete="off">
						<mat-form-field class="example-full-width">
						  <mat-label>Area Name</mat-label>
						  <input matInput placeholder="Ex. Area Name" name="fullName" [(ngModel)]="fullName" (input)="activeButton()">
						</mat-form-field>
					</form>
				</div>
				<div class="content-step-1">
					<h3>Cooldown</h3>
					<nouislider [config]="someKeyboardConfig" [(ngModel)]="someKeyboard" (ngModelChange)="onChange($event)" ></nouislider>
					
					<div class="box-content">
						<p class="data-value"><span class="time-text">Time: </span> {{someKeyboard | json}} <span class="misure">s</span></p>
						
						<ng-container *ngIf="someKeyboard > 200">
							<div class="alert-detection">
								<div class="circle-indicator" [style.background-color]="randomColor"></div>
								<p>Low accuracy</p>
							</div>
						</ng-container>	
					</div>
				</div>

				<div class="content-step-1 detection-time">
					<h3>Detection Time</h3>
					<nouislider #sliderRef [config]="someKeyboardConfig2" [(ngModel)]="someKeyboard2" (ngModelChange)="activeButton()" ></nouislider>
					<div class="box-content"><p class="data-value"><span class="time-text">Time: </span> {{someKeyboard2 | json}} <span class="misure">s</span></p></div>
				</div>

				<div class="content-step-1 box-mode">
					<h3>Select Mode</h3>
					<mat-radio-group [(ngModel)]="selectedMode" (ngModelChange)="activeButton()" aria-label="Select an option">
						<mat-radio-button value="Accuracy">Accuracy</mat-radio-button>
						<mat-radio-button value="Medium">Medium</mat-radio-button>
						<mat-radio-button value="Performance">Performance</mat-radio-button>
					</mat-radio-group>
				</div>

				<div class="button-save">
					<button mat-raised-button color="primary" [disabled]="isDisabled" (click)="saveData()">Save Data</button>
				</div>
			</ng-container>
			<ng-template #showData>
				<div class="content-step-1 answer-box">
					<h3>Your configuration <span>( Saved in Local Storage )</span></h3>
					<p>Full Name: <span>{{fullName}}</span></p>
					<p>Cooldown: <span>{{someKeyboard}}</span> <span class="misure">s</span></p>
					<p>Detection Time: <span>{{someKeyboard2}}</span> <span class="misure">s</span></p>
					<p>Mode: <span>{{selectedMode}}</span></p>
				</div>
			</ng-template>
		</div>
	</div>
</div>
